<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/edit-product.css">
<body>
    <header>
        <h1><%=title%></h1>
    </header>
    <div class="container">
        <form action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="post">
            <label for="product-name">Product Name:</label>
            <input type="text" id="product-name" name="name" value="<% if (editing) { %><%= product.name %><% } %>" required>

            <label for="product-description">Product Description:</label>
            <textarea id="product-description" name="description" rows="4" required><% if (editing) { %><%= product.description %><% } %></textarea>

            <label for="product-price">Product Price:</label>
            <input type="number" id="product-price" name="price" step="1" value="<% if (editing) { %><%= product.price %><% } %>" required>

            <label for="product-name">Image Url:</label>
            <input type="text" id="product-name" name="url" value="<% if (editing) { %><%= product.url %><% } %>" required>
            
            <input type="hidden" name="id" value="<% if (editing) { %><%= product._id %><% } %>">

            <button type="submit"><% if (editing) { %>Update Product<% } else { %>Add Product<% } %></button>
        </form>
    </div>
    <%- include('../includes/footer.ejs')%>

</body>
</html>
