<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/products-list.css">
</head>
<body>
    <header>
        <h1>Omega Shop - Online Store</h1>
    </header>

    <div class="container">
        <% if(products.length > 0) {  %>
            <% for(let product of products){ %>
                <div class="product">
                    <img src="/<%=product.url%>">
                    <div class="product-title"><%=product.name%></div>
                    <div class="product-description"><%=product.description%></div>
                    <div class="product-price">$<%=product.price%></div>
                    <div class="button-container">
                        <a href="/admin/edit-product/<%=product._id%>?editing=true"  class="cta-button delete">Edit</a>
                        <input type="hidden" name="productId" value="<%=product._id%>">
                        <button class="cta-button delete" type="button" onclick="deleteProduct(this)">Delete</button>
                    </div>
                </div>
            <% } %>
        <% } else { %>
            <div class="no-records">
                <h1>No Records</h1>
            </div>
        <% } %> 
    </div>
    <%- include('../includes/pagination.ejs')%>
    <div class="container">
        <a href="/" class="cta-button">Go to Home</a>
    </div>
    <%- include('../includes/footer.ejs')%>
</body>
<script src="/js/admin.js"></script>
</html>
