<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header>
        <h1>Welcome Back to Omega Social</h1>
    </header>

    <div class="container">
        <% if (errorMessage) { %>
            <div class="flash-message">
                <p><%= errorMessage %></p>
            </div>
        <% } %>
        <form action="/user/login" method="post" novalidate>

            <label for="email">Email:</label>
            <input type="email" name="email" id="email" value="<%= oldInput.email %>" placeholder="Enter your email" required>

            <label for="password">Password:</label>
            <input type="password" name="password" value="<%= oldInput.password %>" id="password" placeholder="Enter your password" required>

            <button type="submit" class="cta-button">Login</button>
        </form>

        <a href="/user/forget-password" class="forgot-password-button">Forgot Password?</a>
        
        
    </div>
    <%- include('../includes/footer.ejs')%>
</body>
</html>
