<%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/css/signup.css">
 
</head>
<body>
    <header>
        <h1>Sign Up for Omega Social</h1>
    </header>

    <div class="container">
        <% if (errorMessage) { %>
            <div class="flash-message">
                <p><%= errorMessage %></p>
            </div>
        <% } %>
        <form action="/user/signup" method="post" novalidate>

            <label for="username">Username:</label>
            <input type="text" name="username" value="<%= oldInput.username %>" id="username" placeholder="Enter your username" required>

            <label for="email">Email:</label>
            <input type="email" name="email" value="<%= oldInput.email %>" id="email" placeholder="Enter your email" required>

            <label for="password">Password:</label>
            <input type="password" name="password" value="<%= oldInput.password %>" id="password" placeholder="Enter your password" required>
            
            <label for="country">Country:</label>
            <input type="text" name="country" value="<%= oldInput.country %>"id="country" placeholder="Enter your country" required>

            <button type="submit" class="cta-button">Sign up</button>
        </form>
    </div>
    <%- include('../includes/footer.ejs')%>

</body>
</html>
