<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omega Shop - Online Store</title>
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body>
    <header>
        <h1>Omega Shop - Online Store</h1>
    </header>
    <div class="container">
        <% if(products.length > 0) { %>
            <div class="cart-items">
                <% for(let product of products) { %>
                    <div class="cart-item">
                        <div class="item-image">
                            <img src="<%=product.productUrl%>" alt="Product Image">
                        </div>
                        <div class="item-details">
                            <h2><%=product.productName%></h2>
                            <p class="item-description">
                                <%=product.productDescription%>
                            </p>
                            <div class="item-price">$<%=product.productPrice%></div>
                            <div class="button-container">
                                <a href="/shop/delete-product/<%=product.productId%>" class="cta-button cart-button">Delete</a>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
            <div class="cart-total">
                <h2>Cart Total: $<%= totalPrice %></h2>
                <a href="/shop/checkout" class="checkout-button">Proceed to Checkout</a>
            </div>
        <% } else { %>
            <div class="no-items">
                <h1>Your Cart is Empty</h1>
            </div>
        <% } %>
    </div>

    <div class="container">
        <a href="/" class="cta-button">Go to Home</a>
    </div>
    <%- include('../includes/footer.ejs')%>
</body>
</html>
