<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>
<body>
    <header>
        <h1>Omega Shop - Online Store</h1>
    </header>
    <div class="container">
        <% if(products.length > 0) { %>
            <div class="cart-items">
                <% for(let product of products) { %>
                    <div class="cart-item">
                        <div class="item-image">
                            <img src="<%=product.product.url%>" alt="Product Image">
                        </div>
                        <div class="item-details">
                            <h2><%=product.product.name%></h2>
                            <p class="item-description">
                                <%=product.product.description%>
                            </p>
                            <div class="item-price">$<%=product.product.price%></div>
                            <div class="button-container">
                                <a href="/shop/delete-product/<%=product.product._id%>" class="cta-button cart-button">Delete</a>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
            <div class="cart-total">
                <h2>Cart Total: $<%= totalPrice %></h2>
                <form action="/shop/create-order" method="post">
                    <button type="submit" href="/shop/checkout" class="checkout-button">Proceed to Checkout</button>
                </form>
            </div>
        <% } else { %>
            <div class="no-items">
                <h1>Your Cart is Empty</h1>
            </div>
        <% } %>
    </div>

    <div class="container">
        <a href="/" class="cta-button">Go to Home</a>
    </div>
    <%- include('../includes/footer.ejs')%>
</body>
</html>
