<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/orders.css">
</head>
<body>
    <header>
        <h1>Omega Shop - Order History</h1>
    </header>

    <div class="container">
        <% if(orders.length > 0) { %>
            <% for(let order of orders) { %>
                <div class="order">
                    <div class="order-details">
                        <div class="order-id">Order ID: <%= order.orderId %></div>
                        <div class="order-date">Order Date: <%= order.orderDate %></div>
                        <div class="order-total">Total: $<%= order.totalAmount %></div>
                    </div>
                    <div class="order-products">
                        <% for(let product of order.products) { %>
                            <div class="product">
                                <img src="<%= product.productUrl %>" alt="Product Image">
                                <div class="product-info">
                                    <h2><%= product.productName %></h2>
                                    <div class="product-price">Price: $<%= product.productPrice %></div>
                                    <div class="product-quantity">Quantity: <%= product.quantity %></div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            <% } %>
        <% } else { %>
            <div class="no-records">
                <h1>No Orders Found</h1>
            </div>
        <% } %>
    </div>

    <div class="container">
        <a href="/" class="cta-button">Go to Home</a>
    </div>
    <%- include('../includes/footer.ejs')%>

</body>
</html>
