<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/shop.css">
</head>
<body>
    <header>
        <div class="left-them">
            <a href="/shop/cart" class="cta-button">Cart</a>
            <a href="/shop/checkout" class="cta-button">Checkout</a>
            <a href="/shop/orders" class="cta-button">Orders</a>
        </div>
        <h1>Omega Shop - Online Store</h1>
    </header>

    <div class="container">
        <% if(products.length > 0) {  %>
            <% for(let product of products){ %>
                <div class="product">
                    <img src="<%=product.url%>">
                    <div class="product-title"><%=product.name%></div>
                    <div class="product-description"><%=product.description%></div>
                    <div class="product-price">$<%=product.price%></div>
                    <a href="/shop/product-detail/<%=product._id%>" class="cta-button cart-button">Detail</a>
                </div>
            <% } %>
        <% } else { %>
            <div class="no-records">
                <h1>No Records</h1>
            </div>
        <% } %> 
    </div>
    <div class="container">
        <a href="/" class="cta-button">Go to Home</a>
    </div>
    <%- include('../includes/footer.ejs')%>

</body>
</html>
